<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test">
    <classes>
      <!--  <class name="ParentOfAllProject.SeleniumFrameworkDesign.PageObject.ErrorValidation"/> -->
      <class name="ParentOfAllProject.SeleniumFrameworkDesign.PageObject.SubmitOrderTest"/>
      <class name="ParentOfAllProject.SeleniumFrameworkDesign.PageObject.InitialzeDriver"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

